<td class={{if this.isSelected "selected"}} {{action @sortBooks @columnDefinition.fieldName}}>
  {{@columnDefinition.name}}

  {{#if this.isSelected}}
    {{#if @isReversed}}
      &uarr;
    {{else}}
      &darr;
    {{/if}}
  {{/if}}

</td>